## Syntax and Semantics

**Syntax - refers to the set of rules that defines the combinations of symbols that are considered to be correctly structured programs in a language. 

In simpler terms, Syntax is about the correct arrangement of words and symbols in a code.

**Semantics - refers to the meaning or the interpretation of the symbols, characters, and commands in a language. It is about what the code is supposed to do when it runs.

**Note: Python is case sensitive.**

In [2]:
name = 'Aditi'
Name = 'Singhal'

#both the variables are different identifiers. As python is Case sensitive.

In [3]:
print(name)
print(Name)

Aditi
Singhal

## Indentation

Used to define the structure and hierarchy of the code. Unlike many other languages that use braces {} to delimit blocks of code, python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

In [10]:
age = 32
if age > 30:
    print("middle age " + str(age))

print("something else??")

middle age 32
something else??

In [13]:
# single line comment 
print("hello world") # this is also a comment

hello world

In [14]:
'''
multi line comment
multi line comment
''' 
print("hello world")
# this is also a comment

hello world

In [15]:
# Line continuation
# if the line is too long, you can use \ to continue on the next line
print(1+2+3+4+5+6+7+8+9+10+\
    11+12+13+14+15+16+17+18+19+20)

210

In [16]:
#multi line statement on a single line
x=5;y=10;z=x+y
print(z)

15

### Semantics

In [17]:
# variable assignment
x = 5 # x is an integer
name = "Aditi" # name is a string

In [ ]:
type(x) # returns the type of x

int

In [19]:
type(name) # returns the type of name

str

During the runtime you can change the type of the variable with different values

In [22]:
#Type Inference
var = 5 # var is an integer
print(type(var))
var = "Aditi" # var is now a string
print(type(var))
#Python is dynamically typed, so you can change the type of a variable at any time

<class 'int'>
<class 'str'>

### Variables

In [24]:
#declaring multiple variables
age = 32
height = 5.5
name = "Aditi"
is_student = True

print("age: ",age)
print(height)       
print(name)
print(is_student)

age:  32
5.5
Aditi
True

### Naming Convention
1. Should be case sensitive
2. Must start with a letter or an '_' and contains letter, numbers and underscores
3. Variables are case sensitive

In [29]:
## Dynamic Typing
## Pyth allows the type of a variable to change at runtime
x = 5
print(x, type(x)) # x is an integer
x = "Hello"
print(x, type(x)) # x is now a string
x= 3.14
print(x, type(x)) # x is now a float

5 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

#### Input

In [25]:
age = int(input("Enter your age: "))
print(age, type(age))

23 <class 'int'>

In [27]:
### Simple Calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")
if operation == "+":
    result = num1 + num2
    print("Sum: ", result)
elif operation == "-":
    result = num1 - num2
    print("Difference: ", result)
elif operation == "*":
    result = num1 * num2
    print("Product: ", result)
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
        print("Quotient: ", result)
    else:
        result = "Error: Division by zero"

else:
    result = "Error: Invalid operation"

Product:  276.0